/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px){
  .flex-container4 {
  display: flex;
  max-width:940px;
  width:60vw;
  flex-wrap: wrap;
  margin:0 auto;
}

.flex-container4 .item {
   flex: 1 0 auto;
   height:auto;
   width: 50%;
}

/*
In case I decide to prefer the two-line arrangement on phones
.container .item:nth-child(1) {
  transform: translateY(25%) translateX(-25%) rotate(45deg);
}

.container .item:nth-child(2) {
  transform: translateY(25%) translateX(25%) rotate(45deg);
}

.container .item:nth-child(3) {
  transform: translateY(75%) translateX(-25%) rotate(45deg);
}

.container .item:nth-child(4) {
  transform: translateY(75%) translateX(25%) rotate(45deg);
}

.container .item:nth-child(5) {
  transform: translateY(125%) translateX(-25%) rotate(45deg);
}

.container .item:nth-child(6) {
  transform: translateY(125%) translateX(25%)  rotate(45deg);
}
*/
  .flex-container3 {
    flex-wrap: wrap !important;
  }
  .flex-container2 {
    flex-wrap: wrap !important;
  }

.btn_center {
  margin-bottom: 10vh !important;
}
.flex-container4 h2 {
font-size: 50% !important;
}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }


  h2,
  h3 {
    page-break-after: avoid;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}
/* Style the header */
.top-container {
  display: flex;
  padding: 10px 16px;
  background-image: url("../img/nlsbackground.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
}

.top-container_text {
  padding-top: 10vh;
  text-align: center;
  background-color: rgb(255,192,203, 0.5);
}
.top-container_text p {
  font-size: 1.5em;
}
.top-container_text h1 {
  font-size: 3em;
}
.top-container_text h2 {
  font-size: 2em;
}
#myHeader {
  padding: 10px 16px;
  background: rgb(255,192,203, 0.8);
  color: black;
  text-align: center;
}
.hidden {
   display: none;

}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.flex-container4 {
   display: flex;
  max-width:940px;
  width:60vw;
  flex-wrap: wrap;
  margin:0 auto;
}

.flex-container4 .item  {
   flex: 1 0 auto;
   height:auto;
  width: 33.3333%;
}
.flex-container4 .item:nth-child(1){
  background-color: lightpink;
  aspect-ratio: 1/ 1;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0.6;
	  transform: translateY(25%) translateX(-50%) rotate(45deg);


}
.flex-container4 .item:nth-child(2){
  background-color: plum;
  aspect-ratio: 1/ 1;
align-content: center;
    justify-content: center;
align-items: center;
  overflow: hidden;
  opacity: 0.6;
	  transform: translateY(25%) rotate(45deg);

}
.flex-container4 .item:nth-child(3){
  background-color: darkseagreen;
    aspect-ratio: 1/ 1;
align-content: center;
    justify-content: center;
align-items: center;
  overflow: hidden;
  opacity: 0.6;
	  transform: translateY(25%) translateX(50%) rotate(45deg);
}
.flex-container4 .item:nth-child(4){
  background-color: lightsalmon;
    aspect-ratio: 1/ 1;
align-content: center;
    justify-content: center;
align-items: start;
  overflow: hidden;
  opacity: 0.6;
	  transform: translateY(0%) translateX(25%) rotate(45deg);
}
.flex-container4 .item:nth-child(5){
  background-color: powderblue;
    aspect-ratio: 1/ 1;
align-content: center;
    justify-content: center;
align-items: center;
  overflow: hidden;
  opacity: 0.6;
	  transform:  translateY(0%) translateX(75%) rotate(45deg);
}

.flex-container4 .item:nth-child(6){
  background-color: lightseagreen;
    aspect-ratio: 1/ 1;
align-content: center;
    justify-content: center;
align-items: center;
  overflow: hidden;
  opacity: 0.6;
	  transform:  translateY(75%) translateX(-100%)  rotate(45deg);
}

.item h2 {
  position: relative;
  background-color: inherit;
  margin: 30%;
  font-size: 90%;
  font-weight: 900;
  transform: rotate(-45deg) !important;
}

.flex-container4 a {
  color: #003747;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  background-color: inherit;
  margin: 30%;
  font-size: 90%;
    font-weight: 900;
  transform: rotate(-45deg) !important;
}

.flex-container4 a:focus,
.flex-container4 a:hover {
  color: white;
  text-decoration: underline;
}

.flex-container4.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.flex-container4 .item:hover {
  opacity: 1;
  z-index: 100;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
  box-shadow:
    0.3em 0.3em 0 0 #38baad,
    inset 0.3em 0.3em 0 0 #38baad;
}
.btn:hover,
.btn:focus {
    box-shadow:
      0 0 0 0 #026a81,
      inset 6em 3.5em 0 0 #026a81;
  color: white;
  }

.flex-container {
  display: flex; /* or inline-flex */
  justify-content: space-around;
}

.research{
  display: flex;
  justify-content: center;
}
.research img {
  padding-top: 11vh;
  width: 60%;
}

.btn_center {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

.header{ padding: 10px 16px;
  background: rgb(255,223,186, 0.8);
  color: black;
  text-align: center;
  margin-top: 2vh;
}
.flex-container2 img {
    width: 60%;
  align-self: center;
  margin: 1%;
}

.flex-container2 {
  display: flex; /* or inline-flex */
  justify-content: space-evenly;
margin: 2vh;
margin-bottom: 4vh;
flex-wrap: nowrap;}

.flex-container2 p {
  font-size: 1.5em;
  padding-left: 5vh;
  padding-top: 5vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: RGB(255,192,203,0.6);
  color: white;
  text-align: center;
}

.flex-container2 h3{
 padding-left: 1.5vh;
  font-size: 1.5em;
}

.flex-container3>div img {
    width: 100%;
  align-self: center;
  padding: 1%;
}

.flex-container3 {
  display: flex; /* or inline-flex */
  justify-content: space-evenly;
margin: 2vh;
margin-bottom: 4vh;
flex-wrap: nowrap;}

.flex-container3 p {
  font-size: 1.5rem;
  padding: 1%;
}

.fancy a{
  background:
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.fancy a:hover,
.fancy a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.fancy a {
  color: inherit;
  text-decoration: none;
}

.me img{
 max-width: 40%;
  margin-left: 10%
}
.me p {
  margin-left: 25%;
  font-size: 70%;
}

.thanks {
  align-items: center;
      text-align: center;

}

.thanks img{
  max-width: 40%;
}

body {
   min-height: 400px;
   margin-bottom: 150px;
   clear: both;
}
